body {
    margin: 0;
    font-family: sans-serif;
    position: relative;
    overflow-x: hidden;
    transition: background-image 3s ease-in-out;
}

#gallery-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: blur(2px) brightness(0.8);
}

#header {
    padding: 1rem;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 5000;
}

.filter-buttons {
    text-align: center;
    margin: 1rem 0;
    z-index: 5000;
}

#gallery-box {
    padding: 2rem;
    backdrop-filter: blur(6px);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    margin: 2rem auto;
    max-width: 80vw;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }
  
  .image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
    width: 100%;
    max-width: 80vw;
    margin: 0 auto;
    padding: 0;
  }
  
  .gallery-item {
    width: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  .gallery-item:hover {
    transform: scale(1.05);
  }

/*lightbox*/
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  .lightbox.visible{
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease;
  }

  .lightbox.hidden {
    display: none;
  }

  .lightbox-content {
    position: relative;
    max-width: 70vw;
    max-height: 70vh;
  }

  .lightbox-content img {
    width: auto;
    max-width: 70vw;
    height: auto;
    max-height: 70vh;
    display: block;
    margin: auto;
    object-fit: contain;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }

  .lightbox .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 32px;
    color: white;
    cursor: pointer;
    z-index: 10000;
  }

  .lightbox-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    color: white;
    cursor: pointer;
    z-index: 10001;
    user-select: none;
    padding: 0 1rem;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.lightbox-arrow:hover {
    opacity: 1;
}

.lightbox-arrow.left {
    left: 0;
}

.lightbox-arrow.right {
    right: 0;
}

.lightbox-title {
    color: #fff;
    text-align: center;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
  }