* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow-x: hidden;
    color: #fff;
    position: relative;
}

header {
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

#backgroundUpload {
    margin-top: 10px;
}

#background-blur {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 20px;
    z-index: 1;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); /* jemný stín pro skleněný efekt */
  }
  

#categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
  }
  
  #categories button {
    background-color: #222;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #categories button:hover {
    background-color: #444;
  }


  /*gallery*/

  #gallery {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 50px;
    justify-items: center;
  }

  #gallery img {
    width: 250px;
    height: auto;
    border-radius: 15px;
    transition: transform 0.3s;
    cursor: pointer;
  }
  
  #gallery img:hover {
    transform: scale(1.05);
  }


  /*lightbox */

  #lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
  }
  
  #lightbox.visible {
    display: flex;
  }
  
  #lightbox img {
    max-width: 90%;
    max-height: 80%;
    border-radius: 10px;
  }
  
  #close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 2rem;
    cursor: pointer;
  }

  #lightbox-nav {
    margin-top: 10px;
  }
  
  #lightbox-nav button {
    background: none;
    border: none;
    font-size: 3rem;
    color: white;
    cursor: pointer;
    margin: 0 20px;
  }
  
  #lightbox-nav button:hover {
    color: #aaa;
  }

  @media (max-width: 600px) {
    #gallery {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }
  
  
  